%ul.list--pipe
  - current_roles.fetch('FormalBodyMembership', []).each do |role|
    = render 'current_role', role: role, role_type: "#{t('.committee_role').capitalize}", role_title: "#{t('member').capitalize} #{t('of_the')} #{role.formal_body.name}"
